<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://rentit.itu.dk/RentIt29WCF/RentitService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentitService" contract="RentItServices.IRentitService" name="BasicHttpBinding_IRentitService"/>
      <endpoint address="http://rentit.itu.dk/RentIt29WCF/RentitService.svc/file.svcs" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItFileService" contract="RentItServices.IRentItFileService" name="BasicHttpBinding_IRentItFileService"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRentitService" maxReceivedMessageSize="2000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IRentItFileService" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2000000000" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <sessionState mode="InProc" timeout="30" />
    <compilation debug="true"/>
  </system.web>
</configuration>