<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRentIt" />
                <binding name="BasicHttpBinding_IRentitService" />
                <binding name="BasicHttpBinding_IRentItFileService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rentit.itu.dk/RentIt00/RentIt.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentIt"
                contract="RentIt00.IRentIt" name="BasicHttpBinding_IRentIt" />
            <endpoint address="http://rentit.itu.dk/RentIt29WCF/RentitService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentitService"
                contract="RentItServices.IRentitService" name="BasicHttpBinding_IRentitService" />
            <endpoint address="http://rentit.itu.dk/RentIt29WCF/RentitService.svc/file.svcs"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentItFileService"
                contract="RentItServices.IRentItFileService" name="BasicHttpBinding_IRentItFileService" />
        </client>
    </system.serviceModel>
</configuration>
